body {
    background-color: #c0c0c0;
}

h1 {
    text-align: center;
    color: #660000;
}

.brad {
    text-align: right;
}

p#cautionary {
    text-transform: uppercase;
    color: #ff0000;
    font-size: 30px;
}

h2 {
    text-decoration: underline;
    color: #660000;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #c0c0c0;
}
li {
    display: inline;
}
li a {
    display: block;
    color: #660000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #660000;
    color: #c0c0c0;
}
table {
    
}
th, td {
    border: 1px solid black;
}